# Production
VITE_API_URL=https://api.kingcreativestudio.my.id/posbakum/api
VITE_UPLOAD_URL=https://api.kingcreativestudio.my.id/posbakum/uploads

# Local development
# VITE_API_URL=http://localhost:5001/api
# VITE_UPLOAD_URL=http://localhost:5001/uploads
